/*Прижатие футера*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

body {
    color: black;
}

.menu {
    background-color: slategray;
    display: flex;
    justify-content: space-around;
}

.menu ul li {
    list-style-type: none;
    align-items: center;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px
}

.menu ul li:hover {
    color: indianred;
    align-items: center;
}

.menu {
    font-family: 'Roboto', sans-serif;
}

.forma form {
    display: flex;
    position: absolute;
    right: 30px;
    left: 800px;
    justify-content: center;
    flex-direction: column;
}

.forma form input {
    width: 200px;
}

p {
    right: 30px;
    left: 800px;
    bottom: 300px;
    font-family: 'Roboto', sans-serif;
    height: 350px;
    width: 450px;
    font-size: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

footer {
    bottom: -10px;
}

.footer {
    flex: 0 0 auto;
}

img {
    right: 30px;
    left: 800px;
    bottom: 300px;
}

.prod {
    width: 500px;
    margin: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.prod_img {
    width: 250px;
    height: 250px;
}

.prod_img:hover {
    width: 350px;
    height: 350px;
}




/*Цвет фона*/
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
